ion-content {
--ion-background-color: rgb(26, 26, 26) ;
--ion-text-color: white

}

ion-button {
    --background: orange;
    --color: black
}

ion-card-header {

    --ion-text-color: white

}